/* default variables */
:root {
    --navBar: #7c7948;
    --navBarHover: #bebb73;
    --defaultText: #fff;
    --contentBorder: #242424;
    --alternateText: #000;
}

/* navigation bar class selectors */
.top-nav {
    background-color: var(--navBar);
    position: absolute;
    width: 100%;
    display: inline-block;
    z-index: 9999;
    height: 165px;
    top: 0;
}

.top-nav h1 {
    font-family: 'Rock Salt', cursive;
    margin: 0 0 10px 30px;
    display: inline-block;
    font-size: 70px;
    padding: 0;
    color: var(--alternateText);
}

.top-nav div {
    padding: 15px;
    margin-right: 40px;
    float: right;
    font-family: 'Playfair Display', serif;
}

.top-nav div ul {
    margin: 50px 40px 0 20px;
    list-style-type: none;
}

.top-nav div ul li {
    margin-left: 90px;
    display: inline-block;
    list-style-type: none;
}

a {
    color: var(--defaultText);
    text-decoration: none;
    font-size: 26px;
}

.top-nav a:hover {
    color: var(--navBarHover);
    transition: all 0.7s ease-in-out;
}

.content {
    width: 90%;
    padding: 20px;
    margin: auto;
}

.content-item {
    border: 5px solid var(--contentBorder);
    border-radius: 20px;
    position: relative;
    margin-bottom: 100px;
    padding: 10px;
    background-color: #8a8a8a;
    color: #ffffff;
    opacity: 0.8;
    height: 200px;
}

.content h1 {
    font-size: 40px;
    text-align: center;
}

body {
    padding-top: 240px;
    margin: 0;
    background-color: rgb(141, 141, 141);
    background-image: url("../images/bg-image.jpg");
    background-position:inherit;
}

body h1 {
    font-family: 'Kranky', cursive;
    font-size: 40px;
    text-align: center;
    color: var(--defaultText);
}

.bg-img {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    background-position: center;
}